
<h3>Edit <%= @event.name %></h3>



<%= form_for @event, html: {class: "form-horizontal"} do |f| %>
	<% if @event.errors.any? %>
		<div class="errors" style="color : red;">
			<h3>These errors prohibited the form from being created:</h3>
			<ul>
				<% @event.errors.full_messages.each do |msg| %>
				<li><%= msg%></li>
				<% end %>
			</ul>			
		</div>	
	<% end %>
	
	<%= f.label :name %>
	<%= f.text_field :name %><br/>

	<%= f.label :avatar %>
	<%= f.file_field :avatar %> <br>


	<%= f.label :description %>
	<%= f.text_area :description %> <br/>

	<%= f.label :venue_id %>
	<%= f.collection_select :venue_id, Venue.all, :id, :name, prompt: "Select a venue" %> <br>

	<%= f.label "Starting at" %>
	<%= f.datetime_select :start_datetime, ampm: true, minute_step: 15 %> <br>

	<%= f.label "Ending at" %>
	<%= f.datetime_select :end_datetime, ampm: true, minute_step: 15 %> <br/>

	<%= f.label :entry_fee %>
	<%= f.number_field :entry_fee %> <br/>

	<%= f.label :status %>
	<%= f.select :status, ["New", "On-going", "Over"] %> <br/>

	<%= f.collection_check_boxes :category_ids, Category.all, :id, :name %> <br>
	

	<%= f.label "Tickets" %>
	<%= f.select :tickets_left, value: [250,500,750,1000] %> <br>

	<%= f.submit "Edit Event" %>
</div>
<% end %>
