
<h3>Edit venue - <%= @venue.name %></h3>


<%= form_for @venue, html: {class: "form-horizontal"} do |f| %>
<div class="form-group">
	<% if @venue.errors.any? %>
		<div class="errors" style="color : red;">
			<h3>These errors prohibited the form from being created:</h3>
			<ul>
				<% @venue.errors.full_messages.each do |msg| %>
				<li><%= msg%></li>
				<% end %>
			</ul>			
		</div>	
	<% end %>
	
	<%= f.label :name %>
	<%= f.text_field :name %> <br/>

	<%= f.label :address %>
	<%= f.text_area :address %> <br/>

	<%= f.label :locality_id %>
	<%= f.collection_select :locality_id, Locality.all, :id, :name, prompt: "Select your locality" %> <br>
	<%= f.label "Seats(if any)" %>
	<%= f.number_field :seats %> <br>
	<%= f.submit "Add Venue" %>
</div>
<% end %>
