<div class="page-header"><h3>All venues</h3></div>


<% if can? :create, Venue.new %>
	<%= link_to "Add a venue", new_venue_path, class: "btn btn-info" %> <br>
<% end %>
<br>

<table class="table table-striped">
	<tr>
		<th>Venue</th>
		<th>Owner</th>
		<th>Seats</th>
		<th>Action</th>
	</tr>
	<% @venues.each do |venue| %>
	<tr>
		<td><%= link_to "#{venue.name}", venue_path(venue) %></td>
		<td><%= venue.user.username %></td>
		<td><%= venue.seats %></td>
		<td>
			<%= link_to venue_path(venue) do%>
				<span class="glyphicon glyphicon-eye-open"></span>
			<%end%>
			<% if can? :update, venue %>
				<%= link_to edit_venue_path(venue) do %>
					<span class="glyphicon glyphicon-pencil"></span>
				<%end%>
				<%= link_to venue_path(venue), method: :delete, data: {confirm: "Are you sure?"} do %>
					<span class="glyphicon glyphicon-trash"></span>
				<%end%>
			<% end %>
		</td>
	</tr>
	<% end %>
</table>
