<div class="page-header">
	<h3><%= @category.name.capitalize %></h3>
</div>

<ul class="nav nav-tabs">
	<li role="presentation" class="active"> <a href="/events">Home</a></li>
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Categories <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <% @categories.each do |category| %>
      	<li><%= link_to category.name.capitalize, category_path(category) %></li>
      <% end %>
    </ul>
  </li>
</ul>

<table class="table table-striped" >
	<tr >
		<th>Event</th>
		<th>Organiser</th>
		<th>Action</th>
	</tr>
	<% @events.each do |event| %>
	<tr >
		<td><%= link_to "#{event.name.capitalize}", event_path(event) %></td>
		<td><%= event.user.email %></td>
		<td >
			<%= link_to "Show", event_path(event) %>
			<% if can? :update, event %>
				- <%= link_to "Edit", edit_event_path(event) %> - <%= link_to "Delete", event_path(event), method: :delete, data: {confirm: "Are you sure you wanna delete #{event.name} ?"} %>
			<% end %>		
		</td>
	</tr>
	<% end %>
</table>
