<!DOCTYPE html>
<html>
<head>
  <title>Eventify</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in? %>
	Welcome <b> <%= current_user.email %></b>
	<%= link_to "Account Setting", edit_user_registration_path %>
	<%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
	<%= link_to "Login", new_user_session_path %>
	<%= link_to "Register", new_user_registration_path %>
<% end %>

<h2>EVENTIFY</h2>

<%= notice %>
<%= alert %>
<%= yield %>

</body>
</html>
